<!-- comment here -->
<form method="post" action="/investment-calculator">
    Investment Amount (RM) : 
    <input type="number" name="amount">
    <br>

    Profit Rate (%) : <!-- komen here -->
    <input type="number" name="rate">
    <br>

    Number of Years :
    <input type="number" name="years">

    <input type="submit" value="Kira">
</form>