{% extends 'base.html' %}
{% block body %}

<h4>Employee Info</h4>

<form method="post" action="/employee/update">
    <input type="hidden" name="id" value="{{ employee[0] }}">
    
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" 
        name="name" value="{{ employee[1] }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" 
        name="email" value="{{ employee[2] }}">
    </div>

    <div class="mb-3">
        <label class="form-label">Post</label>
        <input type="text" class="form-control" 
        name="post" value="{{ employee[3] }}">
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>

{% endblock %}