{% extends 'base.html' %}
{% block body %}

<h4>Employee Info</h4>

<form method="post" action="/employee/save">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" name="email">
    </div>

    <div class="mb-3">
        <label class="form-label">Post</label>
        <input type="text" class="form-control" name="post">
    </div>

    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>

{% endblock %}