{% extends 'base.html' %}
{% block body %}

<a href="/employee/create" class="btn btn-primary mb-2">New Employee</a>

<table class="table table-primary table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Post</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in rows %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ emp[1] }}</td>
                <td>{{ emp[2] }}</td>
                <td>{{ emp[3] }}</td>
                <td>
                    <a href="/employee/edit/{{ emp[0] }}" class="btn btn-info btn-sm">Edit</a>&nbsp;&nbsp;
                    <a href="/employee/delete/{{ emp[0] }}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Are you sure ?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{# comment in Flask #}
